<section class="pane short-pane gh_issues-pane">
  <div class="pane-item">
    <span class="item-title">Open issues: </span>
    <span class="open-issues"></span>
  </div>
  <div class="pane-item">
    <span class="item-title">Closed issues: </span>
    <span class="closed-issues"></span>
  </div>
  <div class="pane-item">
    <span class="item-title">Open PRs: </span>
    <span class="open-pull-requests"></span>
  </div>
  <div class="pane-item">
    <span class="item-title">Closed PRs: </span>
    <span class="closed-pull-requests"></span>
  </div>
  <div class="pane-item">
    <span class="item-title">&lambda;: </span>
    <span class="half-life"></span>
  </div>
</section>
